<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <p>Rego Park, NY</p>
            </div>
            <div class="col-4 text-right">
                <h1>{{weatherData.temp | number: '.0-0'}}&deg;</h1>
            </div>
        </div>        
    </div>
    <div class="card-block">
        <h1>0</h1>
        <p>{{ weatherData.summary }}</p>
    </div>
    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-5">
                <p>Wind</p>
                <p>{{weatherData.wind}}mph</p>
            </div>
            <div class="col-5">
                <p>Humidity</p>
                <p>{{weatherData.humidity | percent}}</p>
            </div>

        </div>

    </div>
</div>