* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.card {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.24);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.card,
.card-header,
.card-footer{
    border: none;
    border-radius: 0;
}

.card-header,
.card-footer{
    padding: 1rem .5rem;
    background-color: transparent;
}
#location.wrapper {
    font-size: 1.1rem;
}
#location-icon{
    padding-right: .5rem;
}

.card-block{
    padding: 1.5rem 0;
}

canvas{
    max-width: 250px;
    margin-bottom: 1rem;
}

#indicator{
    height: 165px;
}

#summary{
    height: 165px;
}

.card-footer,
.card-block{
    text-align: center;
}
#detail-row{
    font-size: .8rem;
}
#helper-row{
    padding-top: 1.5rem;
}
p{
    margin: .2rem;

}
p:not(.unit-label){
    text-transform: uppercase;
}
#datetime-wrapper{
    font-size: .8rem;
}