<div class="card" (click)="toggleUnits()" [ngStyle]="setStyles()">
    <!-- Check if data is recieved if not, setto invisible-->
    <div class="card-header" [class.invisible]="!dataRecieved">
        <div class="row justify-content-between">
            <div class="col">
                <p>{{currentLocation.city}}<br>{{currentLocation.state}}</p>
            </div>
            <div class="col text-right">
                <h1>{{weatherData.temp | tempertureUnit: currentTempertureUnit }}</h1>
            </div>
        </div>        
    </div>
    <div class="card-block">
        <div id="indicator" [hidden]="dataRecieved">
            <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div id="summary" [hidden]="!dataRecieved">
            <canvas id="icon" width="100%"></canvas>
            <p>{{ weatherData.summary }}</p>
        </div>
    </div>
    <div class="card-footer" [class.invisible] = "!dataRecieved">
        <div class="row justify-content-between">
            <div class="col-5">
                <p>Wind</p>
                <p>{{weatherData.wind | speedUnit: currentSpeedUnit}}</p>
            </div>
            <div class="col-5">
                <p>Humidity</p>
                <p>{{weatherData.humidity | percent}}</p>
            </div>

        </div>

    </div>
</div>